<!DOCTYPE html>
<html>
<head>
    <script src="/match/jquery.min.js"></script>
    <script type=text/javascript>
$(document).ready(function () {
    $("#btnSubmit").click(function (event) {
        event.preventDefault();
        var form = $('#fileUploadForm')[0];
        var data = new FormData(form);
        $("#btnSubmit").prop("disabled", true);
        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/who",
            data: data,
            processData: false,
            contentType: false,
            cache: false,
            timeout: 600000,
            success: function (data) {
                $("#result").text(data.names[0]);
                face_pic(data.upload_file,
                  data.names,
                  data.locations);
                console.log("SUCCESS : ", data);
                $("#btnSubmit").prop("disabled", false);
            },
            error: function (e) {
                $("#result").text(e.responseText);
                console.log("ERROR : ", e);
                $("#btnSubmit").prop("disabled", false);
            }
        });
    });
});

//TODO drop.
function face(facepic, name, y, xx, yy, x) {
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  var img = new Image();
  img.onload = function() {
    context.drawImage(this, 0, 0);
    context.beginPath();
    context.rect(x,y, xx-x, yy-y);
    context.font = "20px Arial";
    context.fillText(name, x, y);
    context.lineWidth = 2;
    context.strokeStyle = 'red';
    context.stroke();
    };
  img.src = '/match/' + facepic;
}

function face_pic(facepic, names, locations) {
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');
  context.clearRect(0, 0, canvas.width, canvas.height);
  var img = new Image();
  img.onload = function() {
    context.drawImage(this, 0, 0);
    var i;
    for (i = 0; i < names.length; i++) {
      name = names[i];
      y = locations[i][0];
      xx = locations[i][1];
      yy = locations[i][2];
      x = locations[i][3];
      context.beginPath();
      context.rect(x,y, xx-x, yy-y);
      context.font = "20px Arial";
      context.fillStyle = 'red';
      context.fillText(name, x, y);
      context.lineWidth = 2;
      context.strokeStyle = 'red';
      context.stroke();
    }
    };
  img.src = '/match/' + facepic;
}
    </script>
</head>
<body>
<h1>Submit you image search</h1>
<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <input type="file" name="file"/><br/><br/>
    <input type="submit" value="Submit" id="btnSubmit"/>
</form>
<canvas id="myCanvas" width="1760" height="1714" >
Your browser does not support the HTML5 canvas tag.</canvas>

</script>
</body>
</html>